---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
             </div>

{% if page.biblio == "yes" %}

<h1 id="references">References le jeu</h1>

             
               <div id="refs" class="references">
<div id="ref-blenderartist">
<p>Artist, Blender. n.d. “Blender Artist – Blender Wish List.” <a href="http://blenderartists.org/forum/showthread.php?382832-Blender-wish-list" class="uri">http://blenderartists.org/forum/showthread.php?382832-Blender-wish-list</a>.</p>
</div>
<div id="ref-site">
<p>Blend’it, WP0. n.d. “Blendit Website.” <a href="http://blendit.github.io/" class="uri">http://blendit.github.io/</a>.</p>
</div>
<div id="ref-comptesrendus">
<p>———. n.d. “Meeting Notes.” <a href="https://github.com/blendit/pib/wiki/Comptes-rendus" class="uri">https://github.com/blendit/pib/wiki/Comptes-rendus</a>.</p>
</div>
<div id="ref-StreetTensors">
<p>Chen, Guoning, Gregory Esch, Peter Wonka, Pascal Müller, and Eugene Zhang. 2008. “Interactive Procedural Street Modeling.” <em>ACM Trans. Graph.</em> 27 (3). New York, NY, USA: ACM: 103:1–103:10. doi:<a href="https://doi.org/10.1145/1360612.1360702">10.1145/1360612.1360702</a>.</p>
</div>
<div id="ref-Golaem">
<p>Crowd, Golaem. n.d. “Golaem Crowd Simulation for Maya.” <a href="http://golaem.com" class="uri">http://golaem.com</a>.</p>
</div>
<div id="ref-manual_moving">
<p>Foundation, Blender. n.d. “Blender Wiki – Animation of Objects.” <a href="https://www.blender.org/manual/animation/object_path.html" class="uri">https://www.blender.org/manual/animation/object_path.html</a>.</p>
</div>
<div id="ref-blwikiwalking">
<p>———. n.d. “Blender Wiki – Ressources on Animated Walks.” <a href="http://wiki.blender.org/index.php/Dev:Ref/Requests/Animation2.6" class="uri">http://wiki.blender.org/index.php/Dev:Ref/Requests/Animation2.6</a>.</p>
</div>
<div id="ref-FeatureTree">
<p>Génevaux, Jean-David, Eric Galin, Adrien Peytavie, Eric Guérin, Cyril Briquet, François Grosbellet, and Bedrich Benes. 2015. “Terrain Modelling from Feature Primitives.” <em>Computer Graphics Forum</em> 34 (6): 211–27. doi:<a href="https://doi.org/10.1111/cgf.12530">10.1111/cgf.12530</a>.</p>
</div>
<div id="ref-PLE">
<p>Guy, Stephen J., Jatin Chhugani, Sean Curtis, Pradeep Dubey, Ming Lin, and Dinesh Manocha. 2010. “PLEdestrians: A Least-Effort Approach to Crowd Simulation.” In <em>Proceedings of the 2010 ACM SIGGRAPH/Eurographics Symposium on Computer Animation</em>, 119–28. SCA ’10. Aire-la-Ville, Switzerland, Switzerland: Eurographics Association. <a href="http://dl.acm.org/citation.cfm?id=1921427.1921446" class="uri">http://dl.acm.org/citation.cfm?id=1921427.1921446</a>.</p>
</div>
<div id="ref-tuto_walk">
<p>Lague, Sebastian. n.d. “Video Tutorial: Blender Character Animation: Walk Cycle.” <a href="https://www.youtube.com/watch?v=DuUWxUitJos" class="uri">https://www.youtube.com/watch?v=DuUWxUitJos</a>.</p>
</div>
<div id="ref-FLSystem">
<p>Marvie, Jean-Eudes, Julien Perret, and Kadi Bouatouch. 2005. “FL-system : A Functional L-system for procedural geometric modeling.” <em>Visual Computer</em>, The visual computer, 21 (5). Springer Verlag: 329–39. <a href="https://hal.inria.fr/inria-00461514" class="uri">https://hal.inria.fr/inria-00461514</a>.</p>
</div>
<div id="ref-th_walking">
<p>Multon, Franck, Laure France, Marie-Paule Cani, and Gilles Debunne. 1999. “Computer Animation of Human Walking: a Survey.” <em>Journal of Visualization and Computer Animation</em> 10. John Wiley &amp; Sons: 39–54. <a href="https://hal.inria.fr/inria-00527534" class="uri">https://hal.inria.fr/inria-00527534</a>.</p>
</div>
<div id="ref-pep8">
<p>Rossum, Guido van, Barry Warsaw, and Nick Coghlan. n.d. “PEP-8 Coding Conventions for Python.” <a href="https://www.python.org/dev/peps/pep-0008/" class="uri">https://www.python.org/dev/peps/pep-0008/</a>.</p>
</div>
<div id="ref-DeclarativeArchitecture">
<p>Smelik, R. M., T. Tutenel, K. J. De Kraker, and R. Bidarra. 2011. “A Declarative Approach to Procedural Modeling of Virtual Worlds.” <em>Comput. Graph.</em> 35 (2). Elmsford, NY, USA: Pergamon Press, Inc.: 352–63. doi:<a href="https://doi.org/10.1016/j.cag.2010.11.011">10.1016/j.cag.2010.11.011</a>.</p>
</div>
<div id="ref-3dsmax">
<p>Software, Autodesk. n.d. “3DS Max Autodesk Software.” <a href="http://www.autodesk.fr/products/3ds-max/overview" class="uri">http://www.autodesk.fr/products/3ds-max/overview</a>.</p>
</div>
<div id="ref-Massive">
<p>Software, Massive. n.d. “Massive Software.” <a href="http://www.massivesoftware.com/" class="uri">http://www.massivesoftware.com/</a>.</p>
</div>
<div id="ref-PGParcels">
<p>Vanegas, Carlos A., Tom Kelly, Basil Weber, Jan Halatsch, Daniel G. Aliaga, and Pascal Müller. 2012. “Procedural Generation of Parcels in Urban Modeling.” <em>Comput. Graph. Forum</em> 31 (2pt3). Chichester, UK: The Eurographs Association &amp;#38; John Wiley &amp;#38; Sons, Ltd.: 681–90. doi:<a href="https://doi.org/10.1111/j.1467-8659.2012.03047.x">10.1111/j.1467-8659.2012.03047.x</a>.</p>
</div>
</div>

{% endif %}

</article>
